@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

html, body, #app {
    height: 100%;
    width: 100%;
    background-color: rgb(245, 245, 245);
    font-size: larger;
    margin:0;
  }
  
  #footer{
    font-family: 'Source Code Pro';
    text-align: center;
    position: fixed;
    background-color: rgb(245, 245, 245);
    color:rgb(59, 41, 59);
    height: 2em;
    padding:1em;
    bottom: 0;
    left: 0;
    right: 0;
}
  #app {
    display: flex;
    justify-content: center;
    font-family: 'Source Code Pro';
    color: rgb(182, 126, 180);
    margin-bottom: -50px;
  }

h1 {
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#app .k-container{
  z-index: 10;
}
.page-title {
  text-align: center;
  margin:3rem 0 1rem 0;
  font-size: 4rem;
  font-weight: bolder;
  color: rgb(161, 110, 160);
  text-shadow: 10px 10px 6px rgba(46, 4, 63, 0.2);
}

.datetime {
  display: block;
  border-radius: .8em;
  background-color: white;
  margin: 1em;
  padding: 1em;
  box-shadow: 2px 3px 5px rgba(0,0,0,0.1);
}

.datetime h2 {
  font-size:2rem;
}
.datetime p {
  font-size:1rem;
}
.datetime h2, p {
  margin: 0 .4rem;
  padding:.4rem;
}